*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.transparent {
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  width: 100%;
  max-width: 45rem;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.43);
  border-radius: 1rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  z-index: 10;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.transparent_inner ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  position: relative;
  inset: -0.5rem 0;
}
.transparent_inner li {
  cursor: pointer;
}

.circle_sec {
  z-index: 100;
  border-radius: 50%;
  position: relative;
  width: 6rem;
  aspect-ratio: 1/1;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  inset: -1rem 0;
}

.circle_sec::after,
.circle_sec::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
}

.circle_sec::after {
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #f57361
  );
  animation: animateAfter 4s linear infinite;
  animation-delay: -2s;
}

.circle_sec::after {
  animation-play-state: running;
}

.circle_sec::before {
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #53b3cb
  );
  animation: animateBefore 4s linear infinite;
}

.circle_sec:hover .circle_sec::before {
  animation-play-state: running;
}

@keyframes animateAfter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animateBefore {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle_sec > span {
  position: absolute;
  inset: 8px;
  border-radius: 50%;
  background: #000;
  z-index: 1;
}

.circle_sec_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.43);
  border-radius: 50%;
  position: relative;
  z-index: 2;
  color: #f0f0f0;
  width: 85%;
  height: 85%;
}

.circle_sec_inner img {
  width: 3rem;
  aspect-ratio: 1/1;
}
